body{ /*margin gjør at det ikkje er mellomromm mellom grids og kanten på skjermen*/
margin: 0in;
background-color: rgb(37, 37, 37);
}

a:link { /*redigerer linken i standarform*/
  color:rgb(255, 255, 255);
  text-decoration: none;
}

a:hover { /*redigerer linken sitt utsene når du holder over*/
 color: rgb(0, 255, 0);
 text-decoration: none;
}

a:visited { /*redigerer linken sitt utsene etter den er besøkt*/
  color: white;
  text-decoration: none;
}

.hiddenLetters { /*skjuler bokstaver med rett kode*/
  visibility: hidden;
}

.itemMenu { /*blir navnet for dette grid områdetcog bestemmer korleis det skal sjå ut*/
grid-area: menu; 
display:block;
color: white;
border-bottom: 2px solid rgb(0, 255, 0);
text-align: center;
padding-top: 40px;
background-color: black;
}

.itemMenu h3{
  padding-top: 15px;
}

.itemMain { grid-area: main;
color: white; 
text-align: center;
background-color: rgb(37, 37, 37);
padding: 10px;
}

.itemMain img{
  padding-bottom: 100px;
  width: 400px;
}

.itemMain p { /*spesifiserer alle <p> comands inne i eit spesefikt grid område*/
  text-align: center;
  padding-left: 22%;
  padding-right: 22%;
  font-size: large;
}

.itemRight { 
grid-area: right; 
color: white;
text-align: center;
background-color: rgb(37, 37, 37);
border-left: 2px solid rgb(0, 255, 0);
min-width: 250px;
max-width: 250px;
}

.itemLeft {
grid-area: left; 
color: white;
text-align: center;
background-color: rgb(37, 37, 37);
border-right:2px solid rgb(0, 255, 0);
min-width: 250px;
max-width: 250px;
}

.itemLogo { 
grid-area: logo;
border-bottom: 2px solid rgb(0, 255, 0);
background-color: black;
color: white;
}

.itemFooter{ grid-area: footer;
display:block;
color: white;
border-top: 2px solid rgb(0, 255, 0);
text-align: center;
padding-bottom: 20px;
background-color: black;
}

.itemFooter > h3 { 
  color:rgb(255, 255, 255);
  font-size: 12;
}

.grid-container { /*styrer grid opsettet til siden*/
  display: grid;
  grid-template-areas:
    "logo menu menu menu menu sosial"
    "left main main main main right"
    "footer footer footer footer footer footer"
    ;
  grid-gap: 0px;
  padding: 0px;
  margin: 0px;
}

li { /*ender utsene til ein spesifik command*/
 padding-right: 5px;
 font-size: 25px;;
 text-align: left;
}

h3 {
  font-size: 30px;
  text-align: center;
}

h6 {
  font-size: 30px;
  padding-bottom: 30px;
}

h4 {
  font-size: 20px;
}

p {
  text-align: center;
}

h5 {
font-size: 20px;
}

@media only screen and (max-width: 1100px) { /*når skjermen blir mindre en 1100px vil desse overkjøre corisponderende commands*/
  .grid-container {
    display: grid;
    grid-template-areas:
      'logo logo sosial'
      'menu menu menu'
      'left main right'
      'footer footer footer'
      ;
    grid-gap: 0px;
    padding: 0px;
    margin: 0px;
  }

  .itemLeft{  /*dette er inne i @media så det samme som gridcontaineren gjelder*/
    min-width: 180px;
    max-width: 180px;
  }

  .itemRight{
    min-width: 180px;
    max-width: 180px;  
  }

  li {
    font-size: 18px;
  }

  .itemMain img{
    padding-bottom: 100px;
    width: 200px;
  }
  
} /*@media slutt*/

.dropbtn { /*styrer dropdown knappen*/
  background-color: #000000;
  color: white;
  font-size: 30px;
  width: 160px;
  border: none;
  padding-top: 5px;
}

.dropdown { /*styrer kor i griden dropdownen er.*/
  grid-area: sosial;
  position: relative;
  display: inline-block;
  padding-top: 70px;
  padding-left: 20px;
  background-color: black;
  border-bottom: 2px solid rgb(0, 255, 0);
}

.dropdown-content { /*styrer innholdet i Dropdown boksen og korleis det ser ut*/
  display: none;
  position: absolute;
  background-color: rgb(37, 37, 37);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  color: white;
  border-top: 2px solid rgb(0, 255, 0);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropbtn:hover { /*spesifiserer korleis knappen ser ut når du holder over den.*/
  background-color: rgb(37, 37, 37);
}